@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
    background-image: linear-gradient(
        rgba(87, 122, 122, 0.438),
        rgba(170, 153, 128, 0.473)
      ),
      url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .container.jumbotron{
    
    font-family: 'Yeon Sung', cursive;
    background-color: rgba(17, 11, 11, 0.829);
    width:900px;
   
  }
   
  h1{
    font-family: 'Cabin Sketch', cursive;
    
   }
   label{
     color:rgb(156, 147, 15);
     
   }
   legend {
     color:gold;
     
   }
   .text{
     color : rgb(62, 168, 71);
     font-size:25px;
     margin:20px;
   }
   
   .warning{
     font-size: 40px;
     font-family: sans-serif;
   }